// Define variables for your color scheme

// For example:
// $dark-brown: #5c4742ff;
// $light-brown: #8d5b4cff;
// $medium-brown: #5a2a27ff;
// $champagne: #e3c5bbff;
// $teal-blue: #337ca0ff;


$champagne-pink: rgba(227, 197, 187, 1);
$celadon-green: rgba(33, 137, 126, 1);
$gainsboro: rgba(219, 227, 229, 1);
$silver: rgba(204, 198, 200, 1);
$charcoal: rgba(57, 62, 70, 1);
$cultured: rgba(238, 238, 238, 1);
$space-cadet: rgba(32, 44, 89, 1);
