.btn {
  border-radius: 4px;
  border: none;
  opacity: 0.7;
  margin-top: 8px;
}

.btn-opaque {
  opacity: 0.7
}

.btn-border {
  background-color: transparent;
  border-color: white;
  color: transparent;
}

.btn-info {
  background-color: $info;
  border-color: $info;
  color: $primary;
  opacity: 0.7;
}

.btn-primary {
  color: $info;
  opacity: 0.7;
}
